<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>NKsys Dashboard(ARM300)</h1>
    <h2>/index</h2>
    <h3>Current Links</h3>
        <li><a href="{{ url_for('analysis.builder') }}">Analysis Builder</a></li>
        <li><a href="{{ url_for('analysis.analysis_query31') }}">query31</a></li>
        <li><a href="{{ url_for('rpt.main') }}">Reports</a></li>


    <h3>Old Links</h3>
    <ul>
        <li><a href="{{ url_for('analysis.main') }}">Analysis_Main</a></li>
        <li><a href="{{ url_for('analysis.query_builder2') }}">Analysis_builder2</a></li>
        <li><a href="{{ url_for('analysis.analysis_query') }}">Analysis_Query</a></li>
        <li><a href="{{ url_for('analysis.test_select') }}">Test-Select-View</a></li>
    </ul>
</body>
</html>
