<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ head_title }} </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base3.css') }}">
    </head>
    <div class="main-content">
        <header>
            <h2>{{header_title }}</h2>
            {% if page > 1 %}
                <a href="{{ url_for(endpoint, page=page-1, code=code_query) }}">前のページ</a>
            {% endif %}
            {% if page < total_pages %}
                <a href="{{ url_for(endpoint, page=page+1, code=code_query) }}">次のページ</a>
            {% endif %}
            <p>
            {% set end = page * per_page %}
            {% if end > total_records %}
                {% set end = page * per_page %}
            {% endif %}
            銘柄コード：{{code_query}}：全{{ total_records }}件中 {{ (page - 1) * per_page + 1 }}-{{ end }}件目を表示
            </p>
        </header>
        <body>
                {% if db_data == [] %}
                    <p> 該当するデータが見つかりません。</p><br>
                    <a href="javascript:history.back()">Previous</a>
                {% else %}
                    <table border= "1">
                        <tr class="table-header-row">
                            <th class="min-width-col-1">日付</th>
                            <th class="min-width-col-3">コード</th>
                            <th class="min-width-col-2">会社名</th>
                            <th class="min-width-col-1" >始値※</th>
                            <th class="min-width-col-1">高値※</th>
                            <th class="min-width-col-1">安値※</th>
                            <th class="min-width-col-1">終値※</th>
                            <th class="min-width-col-1">取引高※</th>
                            <th class="min-width-col-2">取引代金</th>
                            <th>1:S高</th>
                            <th>1:S安</th>
                        </tr>
                        {% for db in db_data %}
                            <tr>
                                <td class="text-center">{{db.date}}</td>
                                <td class="text-center"><a href="{{ url_for('rpt.info_card', code=db.code) }}">{{ db.code }}</a></td>
                                <td class="text-left">{{db.companyname}}</td>
                                <td class="text-right">{{db.adjustmentopen}}</td>
                                <td class="text-right">{{db.adjustmenthigh}}</td>
                                <td class="text-right">{{db.adjustmentlow}}</td>
                                <td class="text-right">{{db.adjustmentclose}}</td>
                                <td class="text-right">{{db.adjustmentvolume}}</td>
                                <td class="text-right">{{db.turnovervalue}}</td>
                                <td class="text-center">{{db.upperlimit}}</td>
                                <td class="text-center">{{db.lowerlimit}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
        </body>
        <footer>
            <a href="javascript:history.back()">Previous</a>
            <p>© 2024 SWFSOMA013 All Rights Reserved.</p>
            <p>{{ current_time }}</p>
        </footer>
    </div>
</html>
